

.tile {
	width: 100%;
	flex: 0 0 auto;
}

.tile__image {
	width: 50%;
	height: 40%;
	object-fit: cover;
	object-position: center;
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/* width: 100% !important;
	height: 100% !important; */
	z-index: 9;
} 


.cursor-dot,
.cursor-dot-outline {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cursor-dot {
  width: 8px;
  height: 8px;
  background-color: #dc5656;
}

.cursor-dot-outline {
  width: 40px;
  height: 40px;
  background-color: rgba(229, 128, 128, 0.5);
}

.links-container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 40px;
}

.backdrop {
  display: block !important;
  background-color: #bb2c2c;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  z-index: 10000;
  animation-name: anim;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes anim {
  0% { clip-path: circle(0% at 100% 0%)}
  100% { clip-path: circle(150%);}
 }