
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  font-family: 'GothamBold';
  font-size: 55px;
}


@font-face{
  font-family: 'Amatemora';
  src: url('./assets/fonts/Amatemora.ttf')
}

@font-face{
  font-family: 'CocoGoth';
  src: url('./assets/fonts/CocoGothic-Bold_trial.ttf')
}

@font-face{
  font-family: 'CocoGothLight';
  src: url('./assets/fonts/CocoGothic-Light_trial.ttf')
}
@font-face{
  font-family: 'CocoGothSemiBold';
  src: url('./assets/fonts/CocoGothic_trial.ttf')
}

@font-face{
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Black.ttf')
}

@font-face{
  font-family: 'GothamMediumItalic';
  src: url('./assets/fonts/GothamMediumItalic.ttf')
}

@font-face{
  font-family: 'GothamBlack';
  src: url('./assets/fonts/Montserrat-Black.ttf')
}

@font-face{
  font-family: 'GothamLight';
  src: url('./assets/fonts/Gotham-Light.otf')
}

@font-face{
  font-family: 'GothamMedium';
  src: url('./assets/fonts/GothamMedium.ttf')
}

@font-face{
  font-family: 'GothamBold';
  src: url('./assets/fonts/Gotham-Bold.otf')
}

@font-face{
  font-family: 'Alpha';
  src: url('./assets/fonts/AlfaSlabOne-Regular.ttf')
}




/* @font-face{
  font-family: 'EncodeSans';
  font-weight: '600';
  src: url('./Encode_Sans/EncodeSans-Bold.ttf')
} */

